export JAVA_HOME=$HOME/.local/share/JetBrains/Toolbox/apps/AndroidStudio/ch-0/222.4459.24.2221.10121639/jbr
export ANDROID_SDK=$HOME/Android/Sdk
export PATH=$JAVA_HOME/bin:$ANDROID_SDK/emulator:$PATH
